* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    min-width: 180px;
    border: 2px solid red;
    overflow: hidden;
    font-size: .7em;
}

.left {
    float: left;
    width: 45%;
    margin-bottom: 10px;
}

.right {
    float: right;
    width: 45%;
    margin-bottom: 10px;
}

#wrapper-1 {
    width: 45%;
    min-width: 76px;
    display: inline-block;
}

#main {
    text-align: center;
}

#content-1 {
    border: 2px solid blueviolet;
    width: 96%;
    display: inline-block;
}

#content-1--main {
    text-align: center;
}

.box {
    width: 5em;
    height: 5em;
}

.color1 {
    background-color: deepskyblue;
}

#content-2 {
    border: 2px solid green;
    width: 96%;
    display: inline-block;
}

#content-2--main {
    text-align: center;
}

.after {
    margin: 5px;
    /* background-color: tomato; */
}

.after-1 {
    margin-bottom: 5px;
    /* background-color: tomato; */
}

.after-2 {
    margin: 10px 10px;
    /* background-color: tomato; */
}

.after-3 {
    margin: 10px 0 10px 0;
    /* background-color: tomato; */
}

.after-4 {
    margin: 10px 10px 0 10px
    /* background-color: tomato; */
}

.after-5 {
    margin: 0 10px 0 10px;
    /* background-color: tomato; */
}

.after-6 {
    margin: 0 10px 10px 10px;
    /* background-color: tomato; */
}

.after-7 {
    margin: 10px 10px 10px 0;
    /* background-color: tomato; */
}

.after-0 {
    padding: 5px;
    /* background-color: tomato; */
}

.after-8 {
    padding-bottom: 5px;
    /* background-color: tomato; */
}

.after-9 {
    padding: 10px 10px;
    /* background-color: tomato; */
}

.after-10 {
    padding: 10px 0 10px 0;
    /* background-color: tomato; */
}

.after-11 {
    padding: 10px 10px 0 10px
    /* background-color: tomato; */
}

.after-12 {
    padding: 0 10px 0 10px;
    /* background-color: tomato; */
}

.after-13 {
    padding: 0 10px 10px 10px;
    /* background-color: tomato; */
}

.after-14 {
    padding: 10px 10px 10px 0;
    /* background-color: tomato; */
}

#wrapper-2 {
    width: 45%;
    min-width: 76px;
    display: inline-block;
}

.color2 {
    background-color: tomato;
}

.frame {
    width: 560px;
    height: 315px;
}

.m-frame {
    border: 2px solid red;
    clear: both;
    min-height: 350px;
}

form {
    margin-top: 20px;
}

label {
    /* margin-top: 20px; */
    width: 90%;
    height: 25px;
    /* padding: 10px; */
    font-size: 20px;
    /* border: 1px solid black; */
}

input {
    padding: 10px;
}

.msg {
    width: 93%;
}

.form_wrapper {
    width: 60%;
    margin: auto;
}

.first_name,
.last_name,
.email,
.password {
    width: 90%;
    height: 25px;
    padding: 10px;
    font-size: 18px;
}

input[type=radio] {
    border: 0px;
    width: 8%;
    height: 1.4em;
}

input[type=checkbox] {
    border: 0px;
    width: 8%;
    height: 1.4em;
}

span {
    font-size: 20px;
}